{% extends 'base.html' %}

{% block title %}About Adoptly{% endblock %}

{% block content %}
<div class="container">

    <h5 class="mt-5">Adoptly</h5>
    <blockquote>Adoptly is a pet adoption tech start up where we help find pets rescued
        from different harmful enviroments a new home. Right now Adoptly focuses mostly on
        dogs, cats and porcupines. Once a pet has been adopted, it is listed as not available for 
        adoption. We are a Canadian start up and work mostly out of Alberta, Canada and would love 
        to grow to be a worldwide organization finding endangered pets a new home!
    </blockquote>
   
      
    <a role="button" class="btn btn-outline-secondary" href = "/">Back</a>
    

  </div>


{% endblock %}