{% extends 'base.html' %}

{% block title %}Pet Details{% endblock %}

{% block content %}
<div class="container">

    <img src="{{pet.photo_url}}" class="img-thumbnail mt-2 mb-2" style="width: 400px; height: 300px;">

    <h5>{{pet.name}}</h5>
    <p><b>Species:</b> {{pet.species}}</p>
    {% if pet.age %}
    <p><b>Age:</b> {{pet.age}}</p>
    {% endif %}
    {% if pet.sex %}
    <p><b>Sex:</b> {{pet.sex}}</p>
    {% endif %}
    {% if pet.notes %}
    <blockquote>{{pet.notes}}</blockquote>
    {% endif %}
    
    {% if pet.available %}
      <small class="form-text text-muted mb-2"> {{pet.name}} is available for adoption.</small>

    {% else %}

    <small class="form-text text-muted mb-2"> {{pet.name}} is not available for adoption.</small>

    {% endif %}
      
    <a role="button" class="btn btn-outline-secondary" href = "/">Back</a>
    <a role="button" class="btn text-light" href = "/{{pet.id}}" style="background-color: #53C1B3;">Edit</a>

  </div>


{% endblock %}