{% extends 'base.html' %}

{% block title %}Pet Edit Form{% endblock %}

{% block content %}
<div class="container">
<form action="/{{pet_id}}" class="mt-3 ml-3" id="edit_pet_form" method="POST">
    {{form.hidden_tag()}}
    {% for field in form
            if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {{field.label}}
      {{field(class="form-control")}}
      {% if field.errors  %}
      {% for error in field.errors %}
      <small class="form-text text-muted text-danger">{{ error }}</small>
      {% endfor %}
      {% endif %}
    </div>

    {% endfor %}

    <button type="submit" class="btn text-light" style="background-color: #53C1B3;">Edit</button>
  </form>
  </div>


{% endblock %}